位于分支
您的分支与上游分支

未跟踪的文件:
（使用
.gitignore
Code/
JetBrains/
KDE/
QtProject.conf
QtProject/
Thunar/
Trolltech.conf
akregatorrc
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
configstore/
dconf/
dlv/
dolphinrc
emaildefaults
falkon/
fcitx/
fontconfig/
google-chrome/
gtk-3.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
kactivitymanagerd-statsrc
kactivitymanagerdrc
katerc
kateschemarc
katesyntaxhighlightingrc
kcmfonts
kcmshell5rc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdeglobals
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kio_httprc
kmenueditrc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ksysguardrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
launch.sh
libaccounts-glib/
libreoffice/
manjaro-hello.json
manjaro/
menus/
mimeapps.list
pamac/
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
spectaclerc
systemsettingsrc
touchpadxlibinputrc
trashrc
user-dirs.dirs
user-dirs.locale
wireshark/
xfce4/
xsettingsd/
yakuakerc

提交为空，但是存在尚未跟踪的文件（使用
